*, html {
margin: 0;
padding: 0;
font-family: 'Open Sans', sans-serif;
}

#container {
	background-color: transparent;
}

#header {
	background-image: url('../img/bg1.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #FFF;
	font-size: 18px;
	height: auto;
	text-align: center;
	width: 100%;
}

#header-center {
	height: auto;
	padding: 20%;
}

.h01 {
	font-family: 'Oswald', sans-serif;
	font-size: 4em;
}

.f01 {
	font-family: 'Cookie', cursive;
	font-size: 4em;
}

h2 {
	font-family: 'Cookie', cursive;
	font-size: 3.5em;
	padding-bottom: 20px;
}

#nav ul {
	background-color: #000;
	color: #FFF;
	font-size: 18px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	overflow: hidden;
}

#nav li {
	display: inline;
}

#nav li a {
	display: inline-block;
	color: #FFF;
	text-align: center;
	margin: 0px 10px;
	padding: 20px 30px;
	text-decoration: none;
}

#nav li a:hover {
	color: #FFF;
	background-color: #2D8B2C;
}

#details-left {
	border-right: 1px solid #CCC;
	float: left;
	height: auto;
	margin: 100px 0;
	text-align: center;
	width: 50%;
}

#details-right {
	float: left;
	height: auto;
	margin: 100px 0;
	text-align: center;
	width: 49%
}

.eventdate {
	font-size: 20px;
	font-weight: bold;
}

.eventtime {
	font-weight: bold;
}

.eventlocation {
	font-style: italic;
}

#add-title {
	background-color: #fff;
	background-image: url('../img/RKM_16.jpg');
	background-position: 5% 38%;
	background-repeat: no-repeat;
	background-size: 150%;
	color: #fff;
	float: left;
	height: auto;
	padding: 200px 0 175px 0;
	text-align: center;
	width: 100%;
}

#additional {
	background-color: #FFF;
	/* background-image: url('../img/RKM_16.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; */
	float: left;
	height: auto;
	padding: 0;
	text-align: center;
	width: 100%;
}

#column {
	float: left;
	width: 50%;
	padding: 100px 125px;
	height: auto;
	box-sizing: border-box;
	text-align: justify;
}

#row:after {
	content: "";
	display: table;
	clear: both;
}

#lodge-title {
	background-color: #fff;
	background-image: url('../img/mv-2.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	float: left;
	height: auto;
	padding: 200px 0 175px 0;
	text-align: center;
	width: 100%;
}

#lodging {
	background-color: #fff;
	display: block;
	float: left;
	height: auto;
	padding: 0;
	text-align: center;
	width: 100%;
}

#lodge-left {
	border-right: 1px solid #CCC;
	float: left;
	height: auto;
	margin: 100px 0;
	text-align: center;
	width: 50%;
}

#lodge-right {
	float: left;
	height: auto;
	margin: 100px 0;
	text-align: center;
	width: 49%
}

#reg-title {
	background-color: #fff;
	background-image: url('../img/RKM_63.jpg');
	background-position: 15% 54%;
	background-repeat: no-repeat;
	background-size: 115%;
	color: #fff;
	float: left;
	height: auto;
	padding: 200px 0 175px 0;
	text-align: center;
	width: 100%;
}

#registry {
	background-color: #fff;
	float: left;
	height: auto;
	padding: 100px 0 125px 0;
	text-align: center;
	width: 100%;
}

.target {
	height: 10%;
	width: 10%;
}

#footer-title {
	background-color: #fff;
	background-image: url('../img/gc3.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	color: #fff;
	float: left;
	height: auto;
	padding: 100px 0 100px 0;
	text-align: center;
	width: 100%;
}